*{
    box-sizing: border-box; 
}
 
 body{
    font-family:sans-serif;
 
}
 
.contenedor
.p1{
    color: black;
    font-weight: bolder;
    font-size: 50px;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 40%;
}
 button{
    background: rgba(97, 8, 70, 0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
 }
